.about-contacts {
  background-image: url(../../images/background/background-desk-1x);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (max-width: 768px) {
    background-image: url(../../images/background/background-mob-1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/background/background-mob-2x.png);
    }
  }

  @media screen and (max-width: 2100px) {
    background-image: url(../../images/background/background-desk-1x.png);
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../../images/background/background-desk-2x.png);
    }
  }
}

.about-contacts-container {
  padding: 100px 70px;
  @media screen and (max-width: 767px) {
    padding: 60px 16px 60px 16px;
  }
}

.about-contacts-header {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: $dark-blue-color;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  @media screen and (max-width: 767px) {
    font-size: 36px;
    line-height: 42px;
  }
}

.about-contact-wrapper {
  display: flex;
  justify-content: space-evenly;
  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }
}

.adress {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.about-contacts-text {
  color: $yellow-color;
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  @media screen and (max-width: 767px) {
    text-align: center;
    margin-bottom: 14px;
  }
}

.phone {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.mail {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue-color;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.adress {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue-color;
}

.about-open-hours {
  display: flex;
  flex-direction: column;
  gap: 12px;
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.about-work-hours {
  display: flex;
  gap: 12px;
}

.about-days-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: $dark-blue-color;
}

.about-hours-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
}

.about-soc-list {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}
