.header-container{
    min-width: 100%;
border-bottom: 1px solid $blue-color;
padding-right: 15px;
@media screen and (max-width:1440px) {
        margin-right:358px;
        
    }
    
@media screen and (max-width:1439px) {
        margin-right: 320px;
    }

    @media screen and (max-width:378px) {
        margin-right: 20px;
    }

}

.header-logo{
    display: block;
    width: 64px;
    height: 64px;
    
    @media screen and (max-width:870px) {
        display: none;
        
    }
    
}

.header .container{
    // position: relative;
    display: flex; 
    align-items: center;
    padding-top: 35px;
}
.nav{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: nowrap;
    @media screen and (max-width:740px) {
        display: none;
        
    }
}

.nav-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.nav__link{
padding:16px 30px 24px 24px;
   
}
.nav__item .nav__item-current{
    display: flex;
    height: 68px;
    
}


.nav__item-current .nav__item:not(:last-child) {
    margin-right: 35px;
}


.nav__link {
    @include fontStyle (16px, 400, 0.02em, 1.38);
    color:  $blue-color;
    
    @include tranSition ();

    &:hover, 
    &:focus {
        color:$gold-color;
    }   
}

.nav__item-current{
    display: flex;
    position: relative;
    align-items: center;
    & a {
    color: $gold-color;
}
}

.nav__item-current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color:$gold-color;
    bottom: -2px;
    left: 0;
}