.wrapper{
    background-image:url(../../img/desktop/white-concrete-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    background-image: url(../../images/hero/desktop/hero-1x.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 138px;
    padding-bottom: 223px;
    background-position: right;


//     @include minimize {
//         background-image:
//         url(../../img/desktop/white-concrete-bg.jpg);
//         @media screen and (min-device-pixel-ratio: 2),
//         screen and (min-resolution: 192dpi),
//         screen and (min-resolution: 2dppx) {
//     }
// }

// @include mobile {
//     background-image:
//     url(../../img/desktop/white-concrete-bg.jpg);
//     @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
// }
// }


// @include desktop {
//     background-image:
//     url(../../img/desktop/white-concrete-bg.jpg);
//     @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     }
// }
}

.hero-container {
    display: flex;
    
    

    @include desktop {
        // padding: 200px 237px;
    }
}

.hero__header {
    @include fontStyle (null, 900, 0.06em, 1.6);
    text-align: center;
    text-transform: uppercase;
    color: var(--main-white-color);
    @include minimize {
        @include fontStyle (22px, null, null, null);
    }
    
    @include desktop {
        @include fontStyle (44px, null, null, 1.36);
    }
    
}

.header-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

