.menu-gallery__header {
  width: 183px;
  height: 56px;
  left: 629px;
  top: 100px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: $main-color;
}

.menu-gallery-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $main-color;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

// .grid-menu-container {
//   display: grid;
//   grid-gap: 20px;
//   justify-content: center;
//   //   width: max-content;
//   grid: repeat(2, 256px) / repeat(5, 256px);

//   @media screen and (max-width: 767px) {
//   }
// }

// .photo1 {
//   background-size: cover;
//   grid-area: 1 / 1 / span 1 / span 2;
//   background-image: url(../../images/menu/menu-gallery/desktop/menu-desk-gal-1-1x.png);
// }

// .photo2 {
//   background-size: cover;
//   grid-area: 1 / 3 / span 1 / span 1;
//   background-image: url(../../images/menu/menu-gallery/desktop/menu-desk-gal-2-1x.png);
// }

// .photo3 {
//   background-size: cover;
//   grid-area: 1 / 4 / span 2 / span 2;
//   background-image: url(../../images/menu/menu-gallery/desktop/menu-desk-gal-3-1x.png);
// }

// .photo4 {
//   background-size: cover;
//   grid-area: 2 / 1 / span 1 / span 1;
//   background-image: url(../../images/menu/menu-gallery/desktop/menu-desk-gal-4-1x.png);
// }

// .photo5 {
//   background-size: cover;
//   grid-area: 2 / 2 / span 1 / span 2;
//   background-image: url(../../images/menu/menu-gallery/desktop/menu-desk-gal-5-1x.png);
// }
