.menu-grid {
  display: grid;
  gap: 20px;

  @media screen and (max-width: 767px) {
    gap: 10px;
    grid: repeat(4, 120px) / repeat(2, 120px);
  }
}

.photo1 {
  grid-area: 1 / 1 / span 1 / span 2;
  padding: 0;

  @media screen and (max-width: 767px) {
    grid-area: 1/1 / span 1 / span 4;
  }
}

.photo2 {
  grid-area: 1 / 3 / span 1 / span 1;

  @media screen and (max-width: 767px) {
    grid-area: 2/1 / span 1 / span 1;
  }
}

.photo3 {
  grid-area: 1 / 4 / span 2 / span 2;

  @media screen and (max-width: 767px) {
    grid-area: 2/2 / span 2 / span 3;
    padding: 0;
  }
}

.photo4 {
  grid-area: 2 / 1 / span 1 / span 1;

  @media screen and (max-width: 767px) {
    grid-area: 3/1 / span 1 / span 1;
  }
}

.photo5 {
  grid-area: 2 / 2 / span 1 / span 2;
  padding: 0;

  @media screen and (max-width: 767px) {
    grid-area: 4/1 / span 1 / span 4;
  }
}

.menu-grid__item {
  position: relative;
  padding: 0 0 51% 0;
  @media screen and (max-width: 767px) {
    padding: 0;
  }
  & img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.menu-gallery__header {
  width: 183px;
  height: 56px;
  left: 629px;
  top: 100px;
  margin: 0 auto;
  margin-bottom: 12px;
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  text-transform: uppercase;
  color: $main-color;
}

.menu-gallery-text {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: $main-color;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.menu__card-header {
  font-family: 'GFS Neohellenic';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 38px;
  color: $main-color;
}

.menu-top-wrap {
  position: relative;
  overflow: hidden;
  &:hover .menu__card-header {
    transform: translateY(0);
    @include tranSition();
  }
}

.menu__card-header {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 78px;
  background-color: rgba(229, 161, 30, 0.58);
  padding: 20px;
  transform: translateY(100%);
}
