.reserve {
    background-image:url(../../img/desktop/white-concrete-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    

}

.reserve-container{
      padding: 100px 70px;
      position: relative;
    
    @media screen and (max-width:767px) {
padding: 0px 0px 60px 0px;
}
}

.reserve-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width:767px) {
    flex-wrap: wrap;
    justify-content: center;
    
}
}


.reserve-image{
  width: 100%;
  height: 496px;
  background-image: url('../../images/reserve/desktop/reserve-main-pic-1x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

@media screen and (max-width:767px) {
    background-image: url('../../images/reserve/mobile/reserve-main-mob-1x.png');
    background-size: contain;
    background-position: bottom;
    max-width: 594px;

}

}


.reserve-title{
    color:$main-color;
    text-transform: uppercase;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    display: flex;
    align-items: center;
    @media screen and (max-width:767px) {
    width: 245px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 36px;
    width: 100%;
    text-align: start;

}
}

.reserve__form{
    background-color:$blue-color;
    padding: 64px 20px;
    max-width: 594px;
    max-height: 496px;
    @media screen and (max-width:767px)  {
padding: 40px 16px;
max-height: 100%;
}
}


.reserve-text{
    color:$main-color;
    margin-bottom: 32px;
    font-family: 'GFS Neohellenic';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    
    @media screen and (max-width:767px) {
    
    font-size: 18px;
    line-height: 22px;
}
}


.reserve-button__container{
    display: flex;
    @media screen and (max-width:767px) {
    flex-wrap: wrap;
    flex-direction: column;
}
}

.reserve-title{
font-family: "GFS Neohellenic";
font-size: 36px;
font-weight: 400;
line-height: 42px;
vertical-align: Center;
text-transform: uppercase;
margin-bottom: 16px;
color:$main-color;
}

.reserve-input{
    width: 240px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $main-color;
    padding: 10px;
    padding-left: 30px;
    color:rgba(248, 248, 248, 0.6);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    @media screen and (max-width:767px) {
width: 100%;}


}

.reserve-input::placeholder{
    color:rgba(248, 248, 248, 0.6);
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    @media screen and (max-width:767px) {
width: 100%;}

}


.input-form{
    display: flex;
    flex-wrap: wrap;
    gap: 46px;
    
    @media screen and (max-width:767px) {
    gap: 32px;
}
}

.input-wrap{
    position: relative;
    @media screen and (max-width:767px) {
width: 100%;}

}

.form-icon{
position: absolute;
top:10px;
}