.container {
    max-width: 100%;
    margin: 0 auto;
    outline: solid 2px red ; 
    @media screen and (min-width:480px) {
        width: 100%;
    }

    @media screen and (min-width:768px) {
      
        width: 100%;

    }

    @media screen and (min-width:768px) {
       padding-left: 15px;
       padding-right: 15px;
    }
}