.container {
  max-width: 1300px;
  margin: 0 auto;
  // outline: solid 2px red ;

  @media screen and (max-width: 768px) {
    max-width: 730px;
    padding-left: 15px;
    padding-right: 15px;
  }

  @media screen and (max-width: 420px) {
    width: 100%;
  }
}
