$font-main:'Roboto', monotype;

    $main-color:#F8F8F8;
    $yellow-color:#E9AF3F;
    $gold-color:#E5A11E;
    $blue-color:#11467A;
    $dark-blue-color:#071E34;
    $wenge-color:#635F56;
    $green-color:#287C1B;
    $info-color:#008989;
    $warning-color:#A85401;
    $danger-color:#911832;

    