$font-main:'Roboto', monotype;

    $main-color:#F8F8F8;
    $yellow-color:#E9AF3F;
    $gold-color:#E5A11E;
    $blue-color:#11467A;
    $dark-blue-color:#071E34;
    $wenge-color:#635F56;
    $green-color:#287C1B;
    $info-color:#008989;
    $warning-color:#A85401;
    $danger-color:#911832;








    

    
    // $accent-color: #2196F3;
    // $accent-logo-color:#000000;
    // $hero-color:#2F303A;
    // $main-white-color:#FFFFFF;
    // $second-section-color:#F5F4FA;
    // $main-font-color:#757575;
    // $header-color:#212121;
    // $modal-window-background:rgba(0, 0, 0, 0.1);
